.flexCenterCenter {
    margin: 0 auto;
}
.notRepos {
    margin: 30vh auto;
    width: 243px;
    height: 165px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    /* background-color: #ac4848; */
  }
  
  .notRepos__icon {
    width: 110px;
    height: 110px;
  }
  
  .notRepos__text {
    font-size: 22px;
    line-height: 140%;
  }
  
  .text {
    color: blu;
  }
